<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="icon" type="image/png" href="/static/usd.png"/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="/static/usd.png">
    {% block head%}
    <title>{% block title %}United States Dollar{% endblock %}</title>
    <meta name="description" content="United States Dollar (USD) charts, and more ">
    {% endblock %}
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">
        <a class="navbar-brand" href="/">United States Dollar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        </div>
    </nav>
</div>
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">Symbol</div>
            <div class="col-sm-3">Name</div>

            <div class="col-sm-2">Price</div>
            <div class="col-sm-2">Change (24h)</div>
            <div class="col-sm-3">Price Graph (7d)</div>
        </div>

    </div>
    {% for c in currency['results'] %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">{{currency['results'][c]['currencySymbol']}}
            </div>
            <div class="col-sm-3">{{currency['results'][c]['currencyName']}}</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>

        </div>


    </div>
    {%endfor%}
</div>
{% block scripts %}
<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

{% endblock %}
</body>
</html>
