<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="icon" type="image/png" href="/static/unitestatesdollar.jpg"/>
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image" content="/static/unitestatesdollar.jpg">
    {% block head%}
    <title>{% block title %}United States Dollar{% endblock %}</title>
    <meta name="description" content="United States Dollar (USD) price, charts, and more ">
    {% endblock %}
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">
        <a class="navbar-brand" href="/">United States Dollar</a>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"-->
        <!--aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
        <!--<ul class="navbar-nav mr-auto">-->
        <!--</ul>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="/login">Login</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="/signup">Sign Up</a>-->
        <!--</li>-->
        <!--</div>-->
    </nav>
</div>
<div class="container">
    <h1 class="text-center">USD to Other Currencies
    </h1>
    <div class="col-sm-12 d-none d-sm-block">
        <div class="row">
            <div class="col-sm-2"><strong>Symbol</strong></div>
            <div class="col-sm-3"><strong>Name</strong></div>
            <div class="col-sm-2"><strong>Price</strong></div>
            <div class="col-sm-2"><strong>Change (24h</strong>)</div>
            <div class="col-sm-3"><strong>Price Graph (7d)</strong></div>
        </div>
    </div>
    <div class="col-xs-12 d-block d-sm-none">
        <div class="row">
            <div class="col-xs-2"><strong>Symbol</strong></div>
            <div class="col-xs-3"><strong>Name</strong></div>
            <div class="col-xs-2"><strong>Price</strong></div>
            <div class="col-xs-2"><strong>Change (24h</strong>)</div>
            <div class="col-xs-3"><strong>Price Graph (7d)</strong></div>
        </div>
    </div>
    <hr>
    {% for c in currency %}
    <div class="col-sm-12 d-none d-sm-block">
        <div class="row">
            <div class="col-sm-2"><span>{{currency[c]['currencySymbol']}}</span></div>
            <div class="col-sm-3"><span><strong>{{c}} </strong>{{currency[c]['currencyName']}}</span></div>
            <div class="col-sm-2">{{currency[c]['price']}}</div>
            {% if (100*(currency[c]['price'] - currency[c]['price_yesterday'])/currency[c]['price_yesterday']) > 0 %}

            <div class="col-sm-2 green">{{ (100*(currency[c]['price'] -
                currency[c]['price_yesterday'])/currency[c]['price_yesterday'])|round(3)}}%
            </div>
            {% else %}
            <div class="col-sm-2 red">{{ (100*(currency[c]['price'] -
                currency[c]['price_yesterday'])/currency[c]['price_yesterday'])|round(3)}}%
            </div>
            {%endif%}
            <div class="col-sm-3"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                       data-src="/static/{{c}}.png" style="max-width:200px"></div>
        </div>
    </div>
    <div class="col-xs-12 d-block d-sm-none">
        <div class="row">
            <div class="col-xs-2">
                <div class="card">
                    <div class="card-body"><span><strong>{{c}} </strong></div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="card">
                    <div class="card-body">{{currency[c]['currencyName']}}</div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="card">
                    <div class="card-body">{{currency[c]['price']}}</div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="card">
                    {% if (100*(currency[c]['price'] - currency[c]['price_yesterday'])/currency[c]['price_yesterday']) >
                    0 %}
                    <div class="card-body green">{{ (100*(currency[c]['price'] -
                        currency[c]['price_yesterday'])/currency[c]['price_yesterday'])|round(3)}}%
                    </div>
                    {% else %}
                    <div class="card-body red">{{ (100*(currency[c]['price'] -
                        currency[c]['price_yesterday'])/currency[c]['price_yesterday'])|round(3)}}%
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
    <hr>
    {%endfor%}
</div>
<div class="footer text-center">
    <h6>By <a href="https://john.nader.mx">nadermx</a> - Copyright © 2018 - <a href="mailto:hello@johnathannader.com">hello@johnathannader.com</a>
        see the <a href="https://github.com/nadermx/unitedstatesdollar">Source Code</a></h6>
</div>
{% block scripts %}
<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
function init() {
  var imgDefer = document.getElementsByTagName('img');
  for (var i = 0; i < imgDefer.length; i++) {
    if (imgDefer[i].getAttribute('data-src')) {
      imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
    }
  }
}

window.onload = init;

</script>
{% endblock %}
</body>
</html>
