<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="icon" type="image/png" href="/static/usd.png"/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="/static/usd.png">
    {% block head%}
    <title>{% block title %}United States Dollar{% endblock %}</title>
    <meta name="description" content="United States Dollar (USD) charts, and more ">
    {% endblock %}
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">
        <a class="navbar-brand" href="/">United States Dollar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        </div>
    </nav>
</div>
<div class="container">
    <h1 class="text-center">USD to Other Currencies
</h1>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"><strong>Symbol</strong></div>
            <div class="col-sm-3"><strong>Name</strong></div>
            <div class="col-sm-2"><strong>Price</strong></div>
            <div class="col-sm-2"><strong>Change (24h</strong>)</div>
            <div class="col-sm-3"><strong>Price Graph (7d)</strong></div>
        </div>
    </div>
    <hr>
    {% for c in currency %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">{{currency[c]['currencySymbol']}}
            </div>
            <div class="col-sm-3">{{currency[c]['currencyName']}}</div>
            <div class="col-sm-2">{{currency[c]['price']}}</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <hr>
    {%endfor%}
</div>
{% block scripts %}
<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

{% endblock %}
</body>
</html>
